@media only screen and (max-width: 900px) {
    #coverTitle {
      font-size: 20px;
    }
}
@media only screen and (min-width: 900px) {
    #coverTitle {
      font-size: 30px;
    }
}
#coverTitle{
  /* position: absolute; */
  background-color: rgba(50,50,50,1);
  /* border-radius: 1em; */
  padding-left: 1em;
  color: #fff;
  /* right: 30%; */
  /* top: 0px; */
}


.mid_nav{
  position:relative;
  top:-50px;
  box-shadow: 0px 0px 10px;
}

.about{
  text-indent: 50px;
  padding-right: 1em;
}

.sub-head{
  color: #2a4066;
}

.nvbar{
  /* background-color: #ac3; */
}

.nv-link{
  color: #2a4066;
}
.nv-link:hover{
  color: #CE9C36;
}

#fotter{
  padding: 20px;
  background-color: #ac3;
}
